$nav-regular-font: 'sf-regular';
.main-header {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 45px;
    background: rgba(0, 0, 0, .8);
    .nav-logo{
        width: 111px;
        height: 51px;
        transform: translateY(34%);

    }
    .main-nav {
        margin: 0 auto;
        height: 100%; 
        .main-nav-list {
            font-family:'sf-regular';
            list-style: none;
            align-items: center;
            padding:0;
            margin-bottom: 0;
            height: 100%;

            .search-icon img{
                height: 16px;
                width: 16px;
            }
            .login-btn img{
                width: 14px;
                height: 15px;
                margin-right: 3px;
            }
            .my-table-btn img{
                height: 14px;
                width: 26px;
            }
            .active{
                color:#f9f9f9;
            }

            .nav-link{
                color: #fff;
                font-size: 14px;
                line-height: 16px;
                font-family: $nav-regular-font;
                padding: 0;
            }
        }
    }
}

main{
    min-height: calc(100vh - 295px);
    padding-left: 0 !important;
    padding-right: 0 !important;
    .hero{
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        height: 100vh;
    }
    .con1{
        height: 100%;
    }
    .filter{
        width: 600px;
        left: 0;
        bottom: 135px;
        .fil-btn {
            width: 291px;
            margin-bottom: 30.5px;
            .line{
                height: 0.5px;
                width: 100%;
                background: #707070;
                margin-top: 15px;
                .line-br{
                    background: #000;
                    height: 2px;
                    width: 70px;
                    position: relative;
                    top: -1px;
                }
            }
            a {
                font-family: 'sf-regular';
                font-size: 14px;
                line-height: 16px;
                color: #050505;
                margin-right: 55px;
            }
        }

        .s-form {
            width: 100%;
            margin: 0px;
            padding:0 !important;
            .input-calendar{
                margin-right: 13px;
            }
            .res-search-btn{
                background: #4486E2;
                border: solid 1px #4486E2;
                border-radius: 2px;
                margin-top: 31px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
                color: #fff;
                width: 105px;
            }
            .ins {
                background: #fff;
                width: 291px;
                height: 43px;
                flex: 1 1 45%;
                display: flex;
                .in-label {
                    font-size: 12px;
                    line-height: 14px;
                    color: #050505;
                    font-family: 'sf-medium';
                    margin-bottom: 0;
                }
                img{
                    width: 17px;
                    height: 18px;
                    margin-right: 15px;
                    margin-left: 21px
                }
            }
        }
    }
    .commerc{
        max-width: 941px;
        width: 100%;
        margin: 200px auto 335px auto;
        .product-header{
            font-family:'sf-semibold';
            color:#000;
            font-size: 25px;
            line-height: 30px;
            margin: 0;
        }
        .subheader{
            font-family:'sf-semibold';
            font-size: 20px;
            line-height: 24px;
            color: #000;
            margin: 26px 0;
        }
        .mr-60{
            margin-top: 60px;
        }
        .rm-f{
            margin-top: 87px;
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            .rm{
                font-size:15px;
                line-height:18px;
                color: #000;
                width: auto;
                font-family: 'sf-medium';
            }
        }
        
        .product-grid{
            cursor: pointer;
            .prod-img{
                height: 180px;
                margin:25px 0;
                background-size: cover !important;
                background-position: center !important;
                background-repeat: no-repeat !important;
            }
            .nm-price h1{
                color: #000;
                font-size: 15px;
                line-height: 18px;
                font-family: 'sf-semibold';
            }
            .nm-price p{
                color: #000;
                font-size: 15px;
                line-height: 18px;
                font-family: 'sf-light';
            }
            .short-des{
                color: #000;
                font-size: 11px;
                line-height: 13px;
                font-family: 'sf-light';
            }
        }
    }
}
footer{
    height: 147px;
    background: #e5e5e5;
}

// for Dishes
.search-now{
    height: 135px;
    background: #F5F5F5;
}
.dish-com{
    margin: 25px 0 0 0 !important;
    .Dishes{

        .Dishes-header{
            font-family: 'sf-semibold';
            line-height: 30px;   
            font-size: 25px;
            color: #000;    
        }
        .result{
            font-size: 20px;
            font-family: 'sf-semibold';
            color: #000;
            margin-bottom: 50px;
        }
    }
}
.pagination{
    margin: 89px 0 74px 0;
    a {
        text-decoration: none;
        color: #1D1D1D;
        font-size: 15px;
        line-height: 18px;
        padding: 0 15px;
    }
}
.single-dish{
    margin-top: 148px;
    max-width: 941px;
    width: 100%;
    .img-sec{
        max-width: 564px;
        width: 100%;
        height: 393px;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
    .details-sec{
        width: 100%;
        max-width: 273.5px;
        .pre-head{
            h1{
                font-size: 25px;
                font-family: 'sf-semibold';
                color:#000000;
                line-height: 30px;
                max-width: 193px;
                margin-bottom: 8px;
            }
            p{
                font-size: 23px;
                font-family: 'helvetica-regular';
                color:#707070;
                line-height: 27px;
                margin-bottom:0;
            }
        }
        .single-result{
            font-size: 20px;
            font-family: 'sf-semibold';
            color:#000;
            line-height: 24px;
            margin-bottom: 20px;
        }
        .single-res{
            font-size: 12px;
            font-family: 'helvetica-regular';
            color:#000;
            line-height: 14px;
            margin-bottom: 14px;
            margin-bottom: 44px;
        }
        .the-size{
            font-size: 16px;
            font-family: 'helvetica-regular';
            color: #707070;
            line-height: 18px;
            margin-bottom: 10px;
        }
        .single-size{
            margin-bottom: 80px;
            .single-choose{
                margin-top: 10px;
                border: solid 1px #B9B9B9;
                border-radius: 7px;
                height: 56px;
                padding: 0 30px;
                .lari{
                    font-size: 16px;
                    font-family: 'helvetica-regular';
                    color: #707070;
                    line-height: 18px;
                    margin-bottom: 0;
                }
                .custom-radio .custom-control-input:checked~.custom-control-label::after{
                    background: #555555 !important;
                    border-radius: 54%;
                    width: 11px;
                    height: 11px;
                    border: solid 2px #555555;
                    box-shadow: none !important;
                    box-shadow: none;
                    left: 0;
                    top: 0;
                }
                
                .custom-radio{
                    width: 11px;
                    height: 11px;
                    padding: 0;
                    min-height: 11px;
                    .custom-control-label{
                        cursor: pointer;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .custom-control-label::after{
                        left: 0;
                        top: 0;
                    }
                    .custom-control-label::before{
                        border-radius: 54%;
                        background: transparent;
                        border: solid 2px #555555;
                        height: 11px;
                        width: 11px;
                        cursor: pointer;
                        left: 0;
                        top: 0;
                    }
                }
                .dificult{
                    flex-direction: column;
                    margin-left: 24px;
                    strong{
                        font-size: 12px;
                        font-family: 'helvetica-bold';
                        color: #000;
                        line-height: 15px;
                        margin-bottom: 0;
                    }
                    p{
                        font-size: 12px;
                        font-family: 'helvetica-bold';
                        color: #7B7B7B;
                        line-height: 15px;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .Quantity{
            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
                display: none;
            }
            #Quantity{
                margin-top: 20px;
                background: transparent;
                border: none;
                border-bottom: solid 2px #BCBCBC;
                box-shadow: none !important;
                width: 57px;
                outline: none;
            }
        }
        .send-single{
            margin-top: 55px;
            margin-bottom: 85px;
            .order{
                background: #4486E2;
                border-radius: 2px;
                font-family: 'sf-medium';
                font-size: 12px;
                line-height: 14px;
                color: #fff;
                width: 105px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
                outline:none !important

            }
            .go-back{
                margin-left: 70px;
                background: transparent;
                width: auto;
                border: none;
                text-decoration: none !important;
                font-family: 'sf-medium';
                font-size: 12px;
                line-height: 14px;
                color: #808080;
            }
        }
        
    }
}
.client-table{
    margin-top: 135px;
    .my-table{
        width: 100%;
        max-width: 474px;
        .main-h1{
            font-size: 25px;
            line-height: 30px;
            color: #000;
            font-family: 'sf-semibold';
            margin-bottom: 20px;
        }
        .res-name{
            font-size: 20px;
            line-height: 24px;
            color: #000;
            font-family: 'sf-semibold';
            margin-bottom: 55px;
        }
        .sell-sec{
            width: 272px;
            .selected{
                width: 100%;
                height: 50px;
                margin-bottom: 20px;
                .sel-vis{
                    width: 100%;
                    .m-img{
                        width: 46px;
                        height: 49px;
                        margin-right: 3px;
                    }
                    .sel-head{
                        width: 95px;
                        .selected-child{
                            width: 100%;
                            flex-direction: column;
                        }
                        .select-h1{
                            font-size: 12px;
                            line-height: 14px;
                            color: #000;
                            font-family: 'sf-semibold';
                            width: 100%;
                            margin-bottom: 0;
                        }
                        .selected-des{
                            font-size: 9px;
                            font-family: 'sf-light';
                            line-height: 11px;
                            color: #707070;
                            width: 100%;
                            margin-bottom: 0;
                        }

                    }
                    .sel-lari { 
                        color: #707070;
                        font-size: 14px;
                        line-height: 16px;
                        font-family: 'helvetica-ragular';
                        margin-bottom: 0;
                    }
                    .x-close {
                        width: 4px;
                        height: 4px;
                        padding: 0;
                        background: #555555;
                        box-shadow: none !important;
                        img{
                            width: 4px;
                            height: 4px;
                            vertical-align: initial;
                        }
                    }
                    .sel-remove{
                        color: #FF0000;
                        font-size: 12px;
                        line-height: 14px;
                        font-family: 'sf-semibold';
                        padding: 0 !important;
                    }
                }
            }
        }
        .total-table{
            margin-top: 40px;  
            font-size: 12px;
            line-height: 14px;
            color: #9F9F9F;
            font-family: 'sf-light';
            strong{
                font-size: 20px;
                line-height: 24px;
                color: #000;
                font-family: 'sf-semibold';
            }
        }
        #send-comment{
            width: 474px;
            height: 128px;
            border: solid 1px #707070;
            outline: none !important;
            padding: 15px;
            resize: none;
            margin-top: 50px;
            margin-bottom: 70px;
        }
        .send-request{
            background: #4486E2;
            box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
            border-radius: 2px;
            width: 170px;
            height: 33px;
            padding: 0px;
            line-height: 33px;
            color: #fff;
            font-family: 'sf-medium';
            font-size: 12px;
            margin-bottom: 130px;
        }
    }
}




// single resaurants


.call-dir {
    width: 100px;
    .call-loc {
        width: 44px;
        height: 44px;
        flex-direction:  column;
        align-items: center;
        img {
            width: 24px;
            height: 24px;
        }
    }
    .con-des {
        color: #4486E2;
        font-size: 9px;
        line-height: 11px;
        display: flex;
        position: relative;
        margin-top: 9px;
        font-family: 'sf-semibold';
    }
}

.loc-adress {
    margin-top: 40px;
    .adress {
        color: #8E8E8E;
        font-family: 'sf-light';
        font-size: 12px;
        line-height: 14px;
    }
    img {
        width: 14px;
        height: 14px;
        margin-right:9px;
    }

}


.dish-list{
    margin-top: 40px;
    //margin-bottom: 90px;
    .dish-list-header {
        color: #000;
        font-size: 25px;
        line-height: 30px;
        font-family: 'sf-semibold';
    }
    #collapse {

        .card {
            border: none !important;
            .card-header{
                padding: 10px 0;
                margin-bottom: 0;
                background-color: initial;
                border-bottom: initial;
                .header-of-coll {
                    cursor: pointer;
                    .drop-down-dishes {
                        border: 0 !important;
                        background: transparent;
                        outline: none !important;
                        font-size: 14px;
                        line-height: 16px;
                        font-family: 'sf-semibold';
                        padding: 0 !important;
                        cursor: pointer;
                    }
                    .dr-arrow {
                        width: 13px;
                        height: 8px;
                        cursor: pointer;
                        transform: rotateX(0deg);
                    }
                }
            }
            .card-body{
                padding: 0px !important;
                .sel-vis{

                    width: 100%;
                    margin-bottom: 20px;
                    .m-img{
                        width: 46px;
                        height: 49px;
                        margin-right: 3px;
                    }
                    .sel-head{
                        width: 95px;
                        .selected-child{
                            width: 100%;
                            flex-direction: column;
                        }
                        .select-h1{
                            font-size: 12px;
                            line-height: 14px;
                            color: #000;
                            font-family: 'sf-semibold';
                            width: 100%;
                            margin-bottom: 0;
                        }
                        .selected-des{
                            font-size: 9px;
                            font-family: 'sf-light';
                            line-height: 11px;
                            color: #707070;
                            width: 100%;
                            margin-bottom: 0;
                        }

                    }
                    .from-lari{
                        flex-direction: column;
                        height: 49px;
                        .sel-lari { 
                            color: #707070;
                            font-size: 14px;
                            line-height: 16px;
                            font-family: 'helvetica-ragular';
                            margin-bottom: 0;
                        }
                        .sel-from{
                            color: #707070;
                            font-size: 9px;
                            line-height: 11px;
                            font-family: 'sf-light';
                            margin-bottom: 1px;
                        }
                    }
                    .sel-order{
                        color: #FF0000;
                        font-size: 12px;
                        line-height: 14px;
                        font-family: 'sf-semibold';
                        padding: 0 !important;
                        color: #383838;
                    }
                }
            }

        }
    }
}
.collapsed .dr-arrow {
    transform: rotateX(180deg) !important;
}

.dolari{
    color: #000 !important;
    font-size: 12px !important;
    font-family: 'sf-light' !important;

}
